!!! 5
%html
  %head
    = load_asset("commands.js", :base => "assets")

    %script
    	require("patches");
    	require("environment");

    	environment.addUrl("sync", "#{commands_url}");

      var App = require("app");
      var app = new App(#{@command_source.id});

  %body
